*{
    padding: 0px;
    margin-top: 0px;
}

body{
    font-size: 16px;
    line-height: 28px;
    font-family: sans-serif;
}

h4{
    line-height: 32px;
}

/* header start */
#header{
    width: 100%;
    background-image: url('../img/bg.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#header .header-menu .navbar-nav{
    padding: 10px 0px;
}

#header .header-menu .navbar-nav .nav-item {
    padding: 0px 15px;
}

#header .header-menu .navbar-nav .nav-item a{
    color: #ffffff;
    font-weight: 400;
    transition: all linear.4s;
}

#header .header-menu .navbar-nav .nav-item a:hover{
    color: blue;
    padding: 5px 30px;
    background-color: #ffffff;
    border-radius: 10px;
}

.header-inner{
    width: 100%;
    margin-left: 60px;
    margin-bottom: 130px;
}

.header-inner h1{
    font-size: 50px;
    font-weight: 700;
    color: #1c2056;
    margin-top:150px ;
    margin-bottom: 60px;
}

.header-inner p{
    font-weight: 400;
    color:#756d91;
    margin-bottom: 110px;
}

.header-inner a{
    font-weight: 400;
    padding: 10px 30px;
    background-color: #2870db;
    color: #fff;
    border-radius: 10px;
}


.header-inner a:hover{
    text-decoration: none;
    color: #ffffff;
}
/* header end */


/* world area start */
.world h4{
    padding: 20px 0px;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#world{
    width: 100%;
    background-image: url('../img/bg2.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}



.world-area .world-inner{
    width: 474px;
    padding: 63px 0px 35px 67px;
    margin-top:225px;
    margin-left: 122px;
    box-shadow: 2px 2px 20px #f1f1f1;
    border-radius: 20px;
    background-color: #fff;
}

.world-area .world-inner h6{
    font-size: 26px;
    font-weight: 400;
    color: #263238;
}

.world-area .world-inner p{
    font-weight: 400;
    color: #546e7a;
}


.world-area .world-inner-2{
    width: 474px;
    padding: 63px 0px 35px 67px;
    margin-top: 40px;
    margin-left: 560px;
    box-shadow: 2px 2px 20px #f1f1f1;
    border-radius: 20px;
    background-color: #fff;
}

.world-area .world-inner-2 h6{
    font-size: 26px;
    font-weight: 400;
    color: #263238;
}

.world-area .world-inner-2 p{
    font-weight: 400;
    color: #546e7a;
}

.world-area .world-inner-3{
    width: 474px;
    padding: 63px 0px 35px 67px;
    margin-top: 40px;
    margin-left:122px;
    box-shadow: 2px 2px 20px #f1f1f1;
    border-radius: 20px;
    background-color: #fff;
}

.world-area .world-inner-3 h6{
    font-size: 26px;
    font-weight: 400;
    color: #263238;
}

.world-area .world-inner-3 p{
    font-weight: 400;
    color: #546e7a;
}

.world-btn{
    margin-top: 170px;
}

.world-area a{
    font-weight: 400;
    padding: 10px 30px;
    background-color: #2870db;
    color: #fff;
    border-radius: 10px;
}


.world-area a:hover{
    text-decoration: none;
    color: #ffffff;
}

.world-area{
    margin-bottom: 100px;
}

.card-inner{
    margin-top: 60px;
    margin-bottom: 160px;
}

.card-inner p{
    color:#35434b;
    font-size: 20px;
    font-weight: 400;
}

.card-inner h5{
    color: #2870db;
    font-size: 35px;
    font-weight: 500;
}
/* world area end */

/* travel area start */
.travel{
    width: 100%;
    background-image: url("../img/bg3.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.travel .travel-heading h4{
    font-size: 36px;
    font-weight: 700;
    color: #263238;
    margin-bottom: 60px;
}

.travel-card{
    box-shadow: 2px 2px 20px #ece5e5;
    border-radius: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

.travel-card img{

}

.travel-card h5{
    font-size: 24px;
    font-weight: 700;
    padding: 10px 31px;
}

.travel-card p{
    font-size: 16px;
    line-height: 25px;
    padding: 10px 31px;
}

.travel-card a{
    color: #2870db;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 31px;

}

.travel-card a:hover{
    text-decoration: none;
    color: #2870db;
}
/* travel area end */

/* footer area start */
.footer{
    width: 100%;
    background-image: url("../img/bg4.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: 100px;
}
.footer-form h5{
    font-size: 36px;
    font-weight: 500;
    color:#ffffff ;
    margin-top: 50px;
}

.footer-form input{
    padding: 20px 40px;
    font-size: 16px;
    width: 600px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 50px;
    margin-top: 40px;
}
.footer-btn{
    margin-top: 50px;
    margin-bottom: 90px;
}

.footer-form a{
    padding: 12px 40px;
    color: #ffffff;
    background-color: #00aeff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 54px;
}

.footer-inner{
    width: 100%;
    margin: 50px 0px;
}

.footer-inner h6{
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 30px;
}

.footer-inner p{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
   margin-bottom: 18px;

}

.footer-inner a{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
   transition: all linear.4s;

}

.footer-inner a:hover{
    color: #f1f1f1;
    text-decoration: none;
    margin-left: 8px;
}



.footer-icon .fa{
    color: #00aeff;
    background-color: #ffffff;
    padding: 11px 13px;
    border-radius: 50%;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* footer area end */